body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    justify-content: center;
    background-color: #f1f1f1;
}

.inpts,
.inpts2,
.inptshow {
    display: flex;
    padding-top: 2rem;
    justify-content: flex-end;
}

input {
    width: 14rem;
    height: 1.5rem;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin-right: 2rem;
}

.cont {
    /* padding: 6rem 2rem; */
    display: grid;
    grid-template-columns: 2fr  1.5fr;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
}
.color{
    clip-path: polygon(100% 0, 0 0, 0 100%);
    background-color: skyblue;
}

.title {
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
    text-transform: capitalize;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    align-self: center;
}

button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 1.7rem;
    width: 14rem;
    border: 1px solid #6b8eae;
    align-items: center;
    border-radius: 10px;
    background-color:transparent;
    color: #6b8eae;
    /* margin-left: 9%; */
    margin-bottom: 2rem;
}
.but{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

button:hover {
    background-color: transparent;
    border: 1px solid aqua;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
    border-bottom: 1px solid saddlebrown;
}


.sign {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: small;
}

.sign:hover {
    cursor: pointer;
}

.inptshow {
    display: flex;
}

.log {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    font-size: small;
    margin-top: 2rem;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    width: 4.5rem;
    height: 1.5rem;
    align-items: center;
    border-radius: 10px;

}
.or{
    padding-left: 1rem;
    color: white;
}
.log:focus{
    outline: none;
}

.log:hover {
    cursor: pointer;
    border-color: rgb(142, 142, 223);
    color: rgb(142, 142, 223);
}
.mess{
    color:#cd7c74;
    border: none;
    margin-right: 2rem;
    width: auto;
    height: 1.7rem;
    align-items: center;
    display: none;
    justify-content: center;
    border-radius: 5px;
    background-color: #441700;
}
.mess2{
    color:green;
    border: 1px solid #00a081;
    width: auto;
    height: 1.7rem;
    align-items: center;
    display: none;
    justify-content: center;
    margin-right: 2rem;
    border-radius: 5px;
    background-color: greenyellow;
}
.wel{
    padding-left: 1rem;
    color: white;
    font-size:x-large;
    font-weight: 700;
}
.create{
    padding-left: 1rem;
    color: white;
}
.acc{
    display: none;
}

@media (max-width: 900px) {
    
    .cont{
        display: flex;
        flex-direction: row;
        width: 50%;
        background-color: #f1f1f1;
    }
    .color{
        display: none;
    }
    button{
        margin: 0;
        margin-top: 2rem;
    }
    .acc{
        display: flex;
        padding-left: 1rem;
        margin-top: 2rem;
    }
    .logins{
        margin-left: 5px;
        text-decoration: none;
        color: #6b8eae;
    }
    
    
}