body {
  width: 100%;
  height: 100%;
}
.logo2 {
  display: flex;
  justify-content: center;
  /* padding: 2rem; */
  border: 100px;
  /* margin-left: 2px; */
  border-radius: 50%;
}
.logo2 img {
  border-radius: 50%;
  max-width: 12rem;
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.pm1 {
  color: tomato;
  display: none;
}
.pm2 {
  color: tomato;
  display: none;
}
.pm3 {
  color: tomato;
  display: none;
}
.pm4 {
  color: green;
  display: none;
}
.pm5 {
  color: green;
  display: none;
}
.pm6 {
  color: orange;
  display: none;
}
.credentials {
  margin: 3rem 1rem;
  /* border: 1px solid #444; */
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.password,
.user-name {
  display: flex;
  flex-direction: column;
}
.password {
  border-left: 1px solid #444;
  padding: 1rem;
}
input {
  border: none;
  border-bottom: 1px solid #444;
}
input:focus-within {
  border: none;
  border-bottom: 1px solid red;
}
label {
  padding-top: 1rem;
  color: skyblue;
  font-weight: 170px;
}
.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
button {
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
}
.save {
  background-color: skyblue;
  color: #fff;
  margin-left: 0.5rem;
}
.save:hover {
  background-color: blue;
}
.cancel:hover {
  background-color: gray;
}
.foot {
  height: 2.4rem;
}
.lastly {
  background-color: rgb(109, 105, 105);
  /* height: 100%; */
  height: 9rem;
  color: #fff;
}
.p1,
.p2 {
  margin: 2rem;
}
.p2 {
  margin: 2rem;
}
@media only screen and (max-width: 600px) {
  .credentials {
    margin: 0rem;
    flex-direction: column;
  }
  .password {
    margin: 1rem 0;
    padding: 0rem;
    border: none;
  }
  input {
    width: 100%;
  }
}
